* { /* aplica regra a todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body { /* esconder barra de rolagem horizontal*/
    overflow-x: hidden;
}

#home {
    background-color: black;
}

nav {
    background-color: gray;
    position:fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.644);
    Width: 100%;
    height: 80px;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5vw;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner1 img {
    width: 100%;
    height: 100%;
}

.search-bar {
    position: relative;
    max-width: 1000px;
    margin: 30px auto 0;
    margin-top: 160px;
    display: flex;
    align-items: center;
    background: #737373;
    border: 2px solid #0c007B;
    border-radius: 999px;
    overflow: hidden;
}

.search-button {
    width: 72px;
    height: 72px;
    border: none;
    background: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    flex: 1;
    height: 72px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 25px;
}

.search-bar input::placeholder {
    color: white;
}

h1 {
    color: white;
    font-size: 120px;
    text-shadow: 0px 0px 50px #a70ad6;
    text-align: center;
    margin-top: 350px;
}

.serviços {
    color: white;
    font-size: 50px;
    text-align: center;
}

.servico_1, .servico_2, .servico_3 {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 100px;
}

.servico_1 img, .servico_2 img, .servico_3 img {
    width: 110%;
    height: auto; /* Mantém a proporção da imagem para não distorcer */
    object-fit: contain; /* Garante que a imagem se ajuste bem dentro do espaço */
    margin-bottom: 15px;
}