* { /* aplica regra a todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body { /* esconder barra de rolagem horizontal*/
    overflow-x: hidden;
}

#home {
    background-color: #FFFF;
}

nav { /* Se o vs pedir pra você colocar position:fixed aqui não escute!!!!!! */
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.644);
    Width: 100%;
    height: 80px;
    text-align: center;
    z-index: 2;
}

.top_navbar {
    background-color: whitesmoke;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 80px;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.end_nav_bar {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 0 7%;
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 80px;
    text-align: center;
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5vw;
}

.login a button {
    border: 1px solid #000000;
    border-radius: 60px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
}

.login-cadastrar button {
    background-color: transparent;
}

.login-entrar button {
    background-color: black;
    color: white;
}

.menu-button { /* Estilo do botão do menu */
    display: none;
}

.menu-icon { /* Estilo do ícone do menu */
    width: 35px;
    height: 35px;
}

@media (max-width: 1245px) { /* Estilos para telas com largura máxima de 1245px */
    .nav-links,
    .login {
        display: none;
    }

    .menu-button {
        display: block;
        background: transparent;
        border: none;
    }

    .end_nav_bar {
        display: none;
    }
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner1 img {
    width: 50%;
    height: 50%;
}

.search-bar {
    position: relative;
    max-width: 1000px;
    margin: 30px auto 0;
    margin-top: 160px;
    display: flex;
    align-items: center;
    background: #737373;
    border: 2px solid #0c007B;
    border-radius: 999px;
    overflow: hidden;
}

.search-button {
    width: 72px;
    height: 72px;
    border: none;
    background: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    flex: 1;
    height: 72px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 25px;
}

.search-bar input::placeholder {
    color: white;
}

h1 {
    color: black;
    font-size: 100px;
    text-align: left;
    margin-top: 250px;
}

.banner1 p {
    color: black;
    font-size: 35px;
    text-align: left;
}

.serviços {
    color: white;
    font-size: 50px;
    text-align: center;
}

.servico_1, .servico_2, .servico_3 {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 100px;
}

.servico_1 img, .servico_2 img, .servico_3 img {
    width: 110%;
    height: auto; /* Mantém a proporção da imagem para não distorcer */
    object-fit: contain; /* Garante que a imagem se ajuste bem dentro do espaço */
    margin-bottom: 15px;
}